<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="LogLocation" value="D:\LOG\KML_CREATION_LOG\"/>
    <add key="KMLCreationPath" value="D://_KML_FILE//MAP_DEMO//"/>
  </appSettings>
</configuration>